
body{
    /* height: 2800px; */
    position: relative;
}

.banner-section{
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: calc(40vh - 75px);
    /* border: 1px solid black; */
    /* background-color: #375f25a1; */
    z-index: 0;
}
.banner-section-img{
        position: absolute;
        top: 0;
        width: 100%;
        height: 40vh;
        z-index: -1;
} 
.banner-section-img img{
        width: 100%;
        height: 100%;
        
        object-fit: cover;
}
.banner-page-title{
        height: 50%;
        width: 100%;
        margin: 0 200px;
        /* background-color: #113a8642; */
        background-color: #1c2b81;

        background: linear-gradient(0deg,#1c2b81 10%,#1c2b8100 100%);
        position: relative;
}
.banner-page-title h2{
        width: 100%;
        text-align: center;
        font-size: 24px;

        padding: 20px 0;
        letter-spacing: 4px;
        position: absolute;
        bottom: 0;
        color: aliceblue;
        text-shadow: black 0.1em 0.1em 0.2em
}
/* ---------------- 
    section-intro
*/
.section-intro{
    /* background-color: #858484; */
    margin: 0 200px;
    margin-top: 80px;
    box-sizing: border-box;
}
.section-intro-wrapper{
    display: flex;
    width: 100%;
}
.section-intro-img{
    width: 50%;

}
.section-intro-img img{
    display: block;
    width: 90%;
    height: 100%;
    margin-right: 10%;
    /* margin-top: 5%; */
}
.section-intro-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    /* padding-left: 40px; */
    /* background-color: antiquewhite; */

}
.section-intro-txt-title {
    /* border: 1px solid #000; */
    border-bottom: 5px white solid;
}
.section-intro-txt-title h3{
    font-size: 40px;
    color: rgb(234, 238, 250);
    font-weight: 500;
    line-height: 45px;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}
.section-intro-txt{
    padding-top: 5%;
}
.section-intro-txt p{
    color: #b2b2b2;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
}


/* section story */
.section-story{
    margin-top: 60px;
    overflow: scroll;
    overflow: hidden;
}

.section-story-container{
    box-sizing: border-box;
    padding: 0 200px;
    display: flex;
    width: 100%;
    /* background-color: #fff; */
}
.section-story-txt{
    width: 50%;
    position: relative;
    /* background-color: #fff; */
}
.section-story-txt .story-txt-container{
    background-color: #504f4f;
    padding: 15px;
    padding-top: 30px;
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    left: 10%;
    bottom: 5%;
}
.section-story-txt .story-txt-container p{
    position: relative;
    color: aliceblue;
    line-height: 24px;
    font-size: 16px;
    /* font-family: "Noto Sans TC"; */

}



.story-txt-container p::after{
    content: '';
    width: 180%;
    height: 1px;
    background-color: #979797;
    top: -10px;
    right: 0;
    position: absolute;
    z-index: 999;
}
.section-story-img{
    width: 50%;
    background-color: #4e4e4e;
}
.section-story-img img{
    display: block;
    width: 100%;
    aspect-ratio: 3/2;

}

/* ---------------- */
/* section-history */
.section-history{
    margin-top: 100px;
    margin-bottom: 100px;
}
.section-history-toggle{
    /* width: 100%; */
    margin-left: 300px;
    margin-right:200px;
}

.toggle-box .toggle-head{
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    /* border-bottom: 1px solid azure; */

}
.toggle-head h3{
    color: rgb(230, 230, 230);
    font-size: 40px;
    line-height: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    margin-left: 10px;
    
}
.toggle-head label{
    /* background-color: #868686; */
    padding: 3px 10px;
    display: flex;
    align-items: center;
}
.toggle-head label span{
    color: azure;
    font-size: 40px;
    font-weight: 600;
    /* background-color: #8f8787; */
}
.toggle-content{
    /* padding: 10px 10px; */
    padding-right: 5px;
    
    border-bottom: 1px solid azure;
    border-left: .5px solid rgb(128, 128, 128);
    border-right: .5px solid rgb(128, 128, 128);






    overflow: hidden;
    max-height: 0;
    transition: 1s;
}
.toggle-content p{
    padding: 8px 15px;

    color: #b2b2b2;
    font-size: 18px;
    text-indent: 36px;
    line-height: 26px;
}

/* toggle-check */
.section-history-toggle input{
    display: none;
}

.toggle-box:nth-child(even) .toggle-head{
    background-color: #81818118;
}


#check1:checked ~.section-history-toggle-wrapper .toggle-box:nth-child(1) .toggle-content{
    max-height: 300px;
    border-bottom-color:rgb(128, 128, 128) ;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#check2:checked ~.section-history-toggle-wrapper .toggle-box:nth-child(2) .toggle-content{
    max-height: 300px;
    border-bottom-color:rgb(128, 128, 128) ;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#check3:checked ~.section-history-toggle-wrapper .toggle-box:nth-child(3) .toggle-content{
    max-height: 300px;
    border-bottom-color:rgb(128, 128, 128) ;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#check4:checked ~.section-history-toggle-wrapper .toggle-box:nth-child(4) .toggle-content{
    max-height: 300px;
    border-bottom-color:rgb(128, 128, 128) ;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#check5:checked ~.section-history-toggle-wrapper .toggle-box:nth-child(5) .toggle-content{
    max-height: 300px;
    border-bottom-color:rgb(128, 128, 128) ;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* bg-drop */

.body-bg-drop-grdnt{
    height: 50%;
    width: 30%;
    background: #000;
    position: absolute;
    background: linear-gradient(90deg, rgba(176,176,176,0.36) 0%, rgba(255,255,255,0) 100%);
    bottom: 0;
    z-index: -1;
}

/* 
DEBUGGER */
.debugger-center{
    position: absolute;
    width: 150px;
    height: 1000px;
    /* background-color: #8d1313; */
    left: 50%;
    top:0;
    border-left: 2px dashed #000;
    
}

